:root{
    --bg-page: #2b2b2b;
    --bg-navbar: #181717;
    --font-color: white;
    --purple-color: #a05eec;
    --details: #F0E3FF;
}

.light{
    --bg-navbar: #F0E3FF;
    --font-color:
}

*{
    color: var(--font-color);
}

body{
    background-color: var(--bg-page);
    /*background-image: url(./assets/bg.png);*/
    background-position: 0% 40%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
    background-color: var(--bg-navbar);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0.5rem 2.5rem;
    box-shadow: 5px 5px 5px rgb(57, 57, 57);
}

.toggler-icon {
    color: var(--font-color);
    font-size: 30px;
}

.navbar-itens{
    justify-content: end;
}

.navbar-logo img{
    width: 4rem;
}

.navbar-itens .nav-link{
    color: var(--font-color);
    font-size: 18px;
}

.apresentacao{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.apresentacao img{
    width: 8rem;
    
}

.apresentacao h1{
    color: var(--purple-color);
    font-size: 36px;
}

.descricao {
    display: flex;
    color: var(--font-color);
    margin-left: 15rem;
}

.descricao img{
    width: 35rem;
}

.descricao p{
    width: 25rem;
    font-size: 22px;
    position: absolute;
    top: 1;
    left: 46%;
    bottom: 30%;
}

.btn-contato{
    position: fixed;
    right: 4.5rem;
    bottom: 3rem;
    z-index: 10;
}

.btn-contato .btn{
    background-color: var(--details);
    border-radius: 99px;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
}

.btn-contato .btn img{
    width: 1.5rem;
}



.foto-descricao{
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.foto-descricao .foto{
    display: flex;
    justify-content: end;
}

.foto-descricao p{
    width: 30rem;
    font-size: 18px;
    
}

.foto-descricao p span{
    font-size: 30px;
    color: var(--purple-color);
}

.frase-efeito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase-efeito img{
    width: 100%;
}

.frase-efeito p{
    font-size: 18px;
    width: 50rem;
    margin-top: 3rem;
}

.frase-efeito p span{
    font-size: 28px;
    color: var(--purple-color);
}

.frase-efeito .autora{
    font-size: 22px;
    width: 50rem;
    margin-top: -2rem;
    color: var(--purple-color);
    text-align: end;
}

.curriculo, .meus-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    width: 60rem;
    font-size: 28px;
    color: var(--purple-color);
    margin: 4rem 0 3rem 0;
    text-align: start;
}

.cards{
    width: 60rem;
    margin: 0 0 3rem 0;
    gap: 1rem;
}

.card{
    background-color: #181717;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.342);
}

.card .imagem{
    display: flex;
    justify-content: end;
    align-items: center;
}

.imagem img{
    width: 8rem;
}

.title{
    font-weight: 600;
}

.formacao-complementar{
    display: flex;
    flex-wrap: nowrap;
    width: 60rem;
    margin: 0 0 2rem 0;
}

.formacao-complementar img{
    width: 8rem;
}

.carousel{
    position: relative;
    margin-bottom: 3rem;
}

.hard-skills{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
}

.minha-hard-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.hard-skill{
    width: 10rem;
    height: 10rem;
    background-color: #E0C5FF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25) inset;
    padding-top: 1rem;
}

.hard-skill p{
    color: var(--bg-navbar);
}

.hard-skill img{
    width: 4rem;
}

.carousel-control-prev {
    margin-right: 16rem;
}

.carousel-control-next{
    margin-left: 16rem;
}

.carousel-control-prev img, .carousel-control-next img{
    width: 6rem;
}

.soft-skills, .projetos{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
}

.minha-soft-skill, .meu-projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.soft-skill{
    width: 30rem;
}

.soft-skill, .projeto{
    background-color: var(--bg-navbar);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.soft-descricao, .projeto-descricao{
    width: 20rem;
}

.soft-skill img{
    width: 6rem;
}

.project {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project h2 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}