:root{
    --bg-page: #2b2b2b;
    --bg-navbar: #181717;
    --font-color: white;
    --purple-color: rgb(255, 107, 194);
    --details: #F0E3FF;
    --colorful-shadow: #ff6bc13a;
}

.light{
    --bg-navbar: #F0E3FF;
    --font-color:
}

*{
    color: var(--font-color);
}

body{
    background-color: var(--bg-page);
    /*background-image: url(./assets/bg.png);*/
    background-position: 0% 40%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.navbar{
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
    background-color: var(--bg-navbar);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0.5rem 2.5rem;
    box-shadow: 5px 5px 5px rgb(57, 57, 57);
}

.toggler-icon {
    color: var(--font-color);
    font-size: 30px;
}

.navbar-itens{
    justify-content: end;
}

.navbar-logo img{
    width: 4rem;
}

.navbar-itens .nav-link{
    color: var(--font-color);
    font-size: 18px;
}

.home-page, .curriculo, .meus-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page{
    height: 100vh;
}

.descricao{
    margin-top: 6.5rem;
    color: var(--purple-color);
    flex-wrap: wrap-reverse;
}

.descricao, .quem-sou-descricao{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.descricao img{
    max-width: 50%;
    margin-left: 8%;
    min-width: 20rem;
}

.descricao h1{
    margin-bottom: 8%;
}

.btn-contato{
    position: absolute;
    right: 4%;
    bottom: 26%;
}

.btn-contato .btn{
    background-color: var(--details);
    border-radius: 99px;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
}

.btn-contato .btn img{
    width: 1.5rem;
}

.quem-sou-descricao{
    flex-wrap: wrap;
    margin: 4% 8% 0;
}

.quem-sou-descricao img{
    width: 35%;
}

.quem-sou-descricao p{
    width: 30rem;
    font-size: 18px;
    
}

.quem-sou-descricao p span{
    font-size: 30px;
    color: var(--purple-color);
}

.frase-efeito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    
}

.enfeite img{
    width: 120%;
}

.frase-efeito p{
    font-size: 18px;
    width: 60%;
}

.frase-efeito p span{
    font-size: 18px;
    font-weight: 800;
    color: var(--purple-color);
}

.frase-efeito .autora{
    font-size: 20px;
    width: 60%;
    margin-top: -2rem;
    color: var(--purple-color);
    text-align: end;
}

h2{
    width: 76%;
    font-size: 24px;
    color: var(--purple-color);
    text-align: start;
    margin: 4rem 0;
}

.cards{
    width: 100%;
    margin: 0 30% 0;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #181717;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px var(--colorful-shadow);
    max-width: 35%;
    min-width: 22rem;
}

.card .imagem{
    display: flex;
    justify-content: end;
    align-items: center;
}

.imagem img{
    width: 8rem;
}

.title{
    font-weight: 600;
}

.cards-invisiveis{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: start;
    gap: 1.5rem;
}

.formacao-complementar{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 20rem;
    gap: 1rem;

}

.formacao-complementar p{
    width: 100%;
}

.formacao-complementar .imagem{
    min-width: 6rem;
}

.imagem img{
    width: 100%;
}

.hard-skills{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.5rem;
    gap: 2rem;
}

.hard-skill{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(247, 152, 207, 0.256) inset;
    padding-top: 1rem;
}

.hard-skill p{
    color: white;
}

.hard-skill img{
    width: 4rem;
}

.carousel{
    width: 100%;
}

.carousel-control-prev {
    margin-left: 16%;
}

.carousel-control-next{
    margin-right: 16%;
}

.carousel-control-prev img, .carousel-control-next img{
    width: 6rem;
}

.soft-skills, .projetos{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
}

.minha-soft-skill, .meu-projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.soft-skill{
    width: 40%;
    min-width: 16rem;
}

.soft-skill{
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px var(--colorful-shadow);
    border: 1px solid var(--colorful-shadow);
    background-color: #272626;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.soft-descricao{
    width: 20rem;
}

.soft-skill img{
    width: 6rem;
}

.project {
    max-width: 60rem;
    margin: 0 8% 6%;
    padding: 2%;
    background-color: #181717;
    border-radius: 30px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px var(--colorful-shadow);
}

.project img {
    max-width: 70%;
    height: auto;
}

.project h2 {
    margin-top: 0;
}

.project p {
    margin: 0 5% 2.5%;
}

.project {
    display: none;
}

.button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 0;
    width: 30%;
    min-width: 10rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background-color: #C32F86;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    background-color:var(--purple-color);
}

.filters {
    margin-bottom: 20px;
}

.filter-button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    background-color: #C32F86;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.098);
    border: none;
}

.filter-button:hover{
    background-color: var(--purple-color);
}

.filter-button.active {
    background-color: var(--sua-cor-aqui); /* Adicione a sua cor aqui */
}

.filter-indicator {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-indicator-container {
    display: inline-block;
    margin-right: 10px;
  }
  


@media (max-width: 576px) {
    .hard-skill{
        width: 6rem;
        height: 6rem;
    }
    
    .hard-skill p{
        font-size: 12px;
    }
    
    .hard-skill img{
        width: 3rem;
    }

    .carousel-control-prev {
        margin-left: -1%;
    }
    
    .carousel-control-next{
        margin-right: -1%;
    }

    .soft-descricao{
        font-size: 14px;
    }

    .soft-skill{
        flex-wrap: wrap;
        text-align: center;
    }
}